body {
    overflow:auto
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.h1 {
    position: fixed;
    top: 0;
}


.main {
    width: 90%;
}

.form-configure {
    background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}